@model Player

@{
    ViewData["Title"] = "Edit Player";
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit Player</title>
</head>
<body>
<h1>Add Players</h1>
<div asp-validation-summary="All" class="text-danger"> </div>
<form asp-controller="Players" asp-action="EditPlayer" method="post">
    @Html.HiddenFor(m => m.ID)

    <div class="form-group">
        <label>FirstName</label>
        <input asp-for="FirstName" class="form-control">
    </div>
    <div class="form-group">
        <label>LastName</label>
        <input asp-for="LastName" class="form-control">
    </div>
    <div class="form-group">
        <label>Position</label>
        <select asp-for="Position" class="form-control">
            <option value="M">Midfield</option>
            <option value="F">Forward</option>
            <option value="D">Defense</option>
            <option value="G">Goalie</option>
        </select>
    </div>



    <button type="submit" class="btn btn-primary">Edit Player</button>
</form>
</body>
</html>